---
layout: default
lang: it
permalink: /it/
---

{% assign lang = page.lang | default: site.default_lang %}
{% assign t = site.data.languages[lang] %}

<!-- background -->
<div id="container" class="container"></div>
<!-- fallback background -->
<video id="fallbackVideo" class="fallback-video" autoplay muted loop playsinline></video>
<input id="filePicker" type="file" accept=".jpg, .jpeg, .png, .mp4, .webm" style="visibility: hidden" />

<div class="indeterminate-progress-bar">
  <div class="indeterminate-progress-bar__progress"></div>
</div>

{% include header.html %}

<!-- home -->
<div id="page-home">
  <div class="heading">
    <div>
      <img alt="lively wallpaper logo" src="{{ '/assets/logo.webp' | relative_url }}" width="125" class="logo" />
      <h1 style="margin-bottom: 0px; margin-top: 25px">{{ t.home.title }}</h1>
      <h3 style="margin-bottom: 0px; margin-top: 10px">{{ t.home.subtitle }}</h3>
      <p>
        Lively è un Software Libero e Open Source (FOSS)
        <a
          href="https://github.com/rocksdanister/lively"
          title="https://github.com/rocksdanister/lively"
          target="_blank"
          >{{ t.home.project }}</a
        >
      </p>
      <button class="acrylic-button" onClick="scrollToElement('page-download');"><span>{{ t.home.download_button }}</span></button>
    </div>
  </div>
  <!-- ui -->
  <div class="ui-app">
    <!-- app wallpaper library -->
    <div id="ui-app-library">
      <div class="ui-app-overlay"></div>
      <div id="ui-app-titlebar">
        <img alt="lively wallpaper logo" src="{{ '/assets/logo.webp' | relative_url }}" />
        <a>Lively Wallpaper</a>
      </div>
      <div id="ui-app-titlebar-badge">
        <map name="ms-store-award-map">
          <area
            shape="rect"
            coords="0,0,155,75"
            target="_blank"
            title="Microsoft Store App Awards 2023 Personalization Category Winner"
            href="https://blogs.windows.com/windowsdeveloper/2023/05/23/announcing-the-microsoft-store-app-awards-2023-winners/"
          />
        </map>
        <img
          alt="microsoft store award 2023"
          src="{{ '/assets/store_award_badge.webp' | relative_url }}"
          width="155"
          usemap="#ms-store-award-map"
        />
      </div>
      <div class="ui-app-body">
        <div class="ui-app-body-top"></div>
        <div class="ui-app-body-main"></div>
      </div>
      <ul id="wallpapers" class="wallpapers">
        {% assign wallpapers = "rain,snow,clouds,synthwave" | split: "," %}
        {% for wallpaper in wallpapers %}
          <li id="{{ wallpaper }}" class="library">
            <img
              alt="{{ wallpaper }} wallpaper"
              src="{{ '/assets/' | append: wallpaper | append: '_preview.webp' | relative_url }}"
              {% if wallpaper == 'rain' %}style="outline: 2.5px solid #a425a0"{% endif %}
              width="600"
              height="400"
              draggable="false"
            />
            <div>{{ wallpaper | capitalize }}</div>
          </li>
        {% endfor %}
      </ul>
    </div>

    <!-- app wallpaper customise -->
    <div id="ui-app-customise">
      <div id="ui-app-customize-heading">
        <h1 style="margin-bottom: 0">{{ t.magic.title }}</h1>
        <h3 style="margin-top: 10px">{{ t.magic.subtitle }}</h3>
      </div>
      <div class="ui-app-dialog"></div>
      
      <div id="ui-app-customise-controls">
        <!-- Test controls -->
        {% include controls/test-controls.html %}
        
        <!-- Rain controls -->
        {% include controls/rain-controls.html %}
        
        <!-- Snow controls -->
        {% include controls/snow-controls.html %}
        
        <!-- Synthwave controls -->
        {% include controls/synthwave-controls.html %}
        
        <!-- Clouds controls -->
        {% include controls/clouds-controls.html %}
      </div>
    </div>
  </div>
</div>

<!-- features -->
<div id="page-features">
  <h2>{{ t.features.title }}</h2>
  <p>{{ t.features.subtitle }}</p>
  <ul class="cards">
    {% assign features = "open_source,performance,modern,tools" | split: "," %}
    {% assign icons = "github,gauge-high,rocket,toolbox" | split: "," %}
    
    {% for feature in features %}
      {% assign index = forloop.index %}
      <li class="card" id="feature-card-{{ index }}">
        <img alt="{{ feature }}" src="{{ '/assets/icons/' | append: icons[forloop.index0] | append: '.svg' | relative_url }}" class="white-filter" />
        <div>{{ t.features[feature].title }}</div>
        <p>{{ t.features[feature].description }}</p>
      </li>
    {% endfor %}
  </ul>
  <a
    href="https://github.com/rocksdanister/lively#features"
    title="https://github.com/rocksdanister/lively#features"
    target="_blank"
    >{{ t.features.more }}</a
  >
</div>

<!-- gallery -->
<div id="page-gallery">
  <h2>{{ t.gallery.title }}</h2>
  <p>{{ t.gallery.subtitle }}</p>
  <div class="gallery-container">
    <div class="gallery-wrap">
      {% assign gallery_items = "fluid,music,wave,system,synthwave" | split: "," %}
      
      {% for item in gallery_items %}
        <div class="item item-{{ forloop.index }}" data-delayedsrc="url({{ '/assets/promo/gallery' | append: forloop.index | append: '.webp' | relative_url }})">
          <p>{{ t.gallery[item] }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- download -->
<div id="page-download">
  <h2>{{ t.download.title }}</h2>
  <div class="download-options">
    <ms-store-badge
        productid="9NTM2QC6QWS7"
        size="large"
        theme="dark"
        animation="on"
        window-mode="popup"
      ></ms-store-badge>
    <div class="download-button-wrapper">
      <a
        class="download-button"
        href="https://github.com/rocksdanister/lively/releases/download/v2.1.0.8/lively_setup_x86_full_v2108.exe"
      >
        <div class="download-wrapper">
          <img alt="lively installer" src="{{ '/assets/icons/download.svg' | relative_url }}" class="white-filter" />
          <div>
            <span>{{ t.download.windows }}</span>
            <h1>{{ t.download.installer }}</h1>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div>
    <a
      href="https://rocksdanister.com/lively/changelog"
      title="https://www.rocksdanister.com/lively/changelog"
      target="_blank"
      >{{ t.download.whats_new }}</a
    >
  </div>
</div>

{% include footer.html %}