{% assign lang = page.lang | default: site.default_lang %}
{% assign t = site.data.languages[lang] %}

<!-- navigation -->
<div class="nav">
  <div>
    <img src="{{ '/assets/images/logo.webp' | relative_url }}" alt="lively wallpaper logo" />
    <h4>{{ t.nav.home }}</h4>
  </div>
  <div>
    <ul>
      <li>
        <a text="{{ t.nav.home }}" class="active">{{ t.nav.home }}</a>
      </li>
      <li>
        <a text="{{ t.nav.magic }}" onClick="scrollToElement('page-home');">{{ t.nav.magic }}</a>
      </li>
      <li>
        <a text="{{ t.nav.features }}" onClick="scrollToElement('page-features');">{{ t.nav.features }}</a>
      </li>
      <li>
        <a text="{{ t.nav.gallery }}" onClick="scrollToElement('page-gallery');">{{ t.nav.gallery }}</a>
      </li>
      <li>
        <a text="{{ t.nav.download }}" onClick="scrollToElement('page-download');">{{ t.nav.download }}</a>
      </li>
      <li>
        <a
          text="{{ t.nav.docs }}"
          href="https://github.com/rocksdanister/lively/wiki/Getting-Started"
          style="text-decoration: underline"
          target="_blank"
          >{{ t.nav.docs }}</a
        >
      </li>
    </ul>
  </div>
</div>

<!-- Language Switcher -->
<div class="language-switcher">
  <ul>
    <li>
      <a href="{{ '/' | relative_url }}" {% if lang == 'en' %}class="active"{% endif %}>EN</a>
    </li>
    <li>
      <a href="{{ '/it/' | relative_url }}" {% if lang == 'it' %}class="active"{% endif %}>IT</a>
    </li>
  </ul>
</div>